<% if @game_option == :ComputerVsComputer && !@board.game_over? %>
  <meta http-equiv="refresh" content="1">
<% end %>
<div class='board <% if @game_option == :ComputerVsComputer || @board.game_over?%>disabled<% end %>'>
  <% @board.rows.each do |row| %>
    <div class='row'>
    <% row.each do |cell| %>
      <div class='wrapper'>
        <% if @board.available_positions.include? cell %>
          <form class="cell-form" method="post" action="/move">
            <input class="hidden" type="hidden" name="position" value=<%= cell.to_s %>>
            <button class='cell' type="submit"><div class='empty'>&nbsp;</div></button>
          </form>
        <% else %>
          <div class='cell full'><%= cell %></div>
        <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
<div class='game-end-message'>
  <% if @draw == true %>
    <p>Game over! It's a draw.</p>
  <% elsif @winner_mark == :X || @winner_mark == :O %>
    <p>Game over! Winner is <%= @winner_mark %>.</p>
  <% end %>
  <% if @board.game_over? %>
    <a class="play-again" href="/">Play again</a>
  <% end %>
</div>
