<h2>Menu</h2>
<p>Please choose a game option:</p>
<form method="post" action="/menu">
  <input type="radio" name="option" value="1" checked> Human vs Human
  <input type="radio" name="option" value="2"> Human vs Computer
  <input type="radio" name="option" value="3"> Computer vs Human
  <button type="submit">Submit</button>
</form>
