<h2 class="menu">Please choose a game option:</h2>
<form class="options-form" method="post" action="/menu">
  <% @game_options.each do |number, symbol| %>
    <p>
    <input id=<%= convert_to_kebab_case(format(symbol))%> class="option-choice" type="radio" name="option" value=<%= number %>>
    <label for=<%= convert_to_kebab_case(format(symbol))%>><%= format(symbol) %></label>
    </p>
  <% end %>
  <button type="submit">Start game</button>
</form>
