<h2 class="menu">Please choose a game option:</h2>
<form class="game-options-form" method="post" action="/menu">
  <p>
    <input id="human-vs-human" class="option-choice" type="radio" name="option" value="1">
    <label for="human-vs-human">Human vs Human</label>
  </p>
  <p>
    <input id="human-vs-computer" class="option-choice" type="radio" name="option" value="2">
    <label for="human-vs-computer">Human vs Computer</label>
  </p>
  <p>
    <input id="computer-vs-human" class="option-choice" type="radio" name="option" value="3">
    <label for="computer-vs-human">Computer vs Human</label>
  </p>
  <p>
    <input id="computer-vs-computer" class="option-choice" type="radio" name="option" value="4">
    <label for="computer-vs-computer">Computer vs Computer</label>
  </p>
  <button type="submit">Start game</button>
</form>
